In [6]:
# Import the Pandas dependency.
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [7]:
# Extract the four-digit contact ID number.
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')

NameError: name 'contact_df' is not defined